# Pliki środowiska
.env

# Środowisko wirtualne Python
venv/
env/
ENV/

# Pliki tymczasowe Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Pliki logów
*.log
logs/

# Pliki testów i pokrycia
.coverage
.pytest_cache/
htmlcov/
.tox/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Streamlit
.streamlit/
